.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Header Styles */
.site-header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  margin: 0;
}

.horizontal-nav {
  display: flex;
}

.horizontal-nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .user-icon {
  margin-right: 5px;
}

.user-info .first-name {
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .horizontal-nav {
    margin-top: 10px;
  }

  .horizontal-nav a {
    display: block;
    margin-bottom: 10px;
  }
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  width: 50%;
  padding: 0 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li:last-child {
  margin-bottom: 0;
}